h1 {
    font-family: 'LibreBaskerville_Bold';
    font-size: 1.7rem;
}

.nav-section {
    box-shadow: 0 0px 1px 0px;
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
}

nav ul {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.nav {
    width: fit-content;
}

.account-btn {
    padding: .5rem 1rem;
    border: 1px solid;
    border-radius: 5px;
}
